extends base

block content 
    if errorMessage 
        span=errorMessage 
    form(method="POST")
        input(placeholder="이메일",type="email",name="email",required,value=loggedInUser.email)
        input(placeholder="이름",type="text",name="name",required,value=loggedInUser.name)
        input(placeholder="사용자 이름",type="text",name="username",required,value=loggedInUser.username)
        input(placeholder="거주 지역",type="text",name="location",required,value=loggedInUser.location)
        input(type="submit",value="수정하기")